name: 'base'

on:
  push:
    tags: [ v* ]
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  python-job:
    uses: fivexl/github-reusable-workflows/.github/workflows/python-job.yml@main
    with:
      python-version: "3.10"
      aws-default-region: "eu-central-1"
      working-directory: "src"

  test-job:
    name: Run Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Poetry
        run: pip3 install poetry

      - name: Run tests
        run: bash run-tests.sh

  terraform-job:
    uses: fivexl/github-reusable-workflows/.github/workflows/terraform-job.yml@main
    with:
      terraform-version: "1.5.0"
      aws-default-region: "eu-central-1"

  # localstack:
  #   name: localstack
  #   runs-on: ubuntu-22.04
  #   defaults:
  #     run:
  #       shell: bash    
  #   env:
  #     AWS_DEFAULT_REGION: "eu-central-1"
  #     TF_CLI_ARGS_plan: "-compact-warnings"
  #     TF_CLI_ARGS_apply: "-compact-warnings"     
  #   services:
  #     localstack-service:
  #       image: localstack/localstack:3.4.0
  #       ports:
  #         - "4566:4566"
  #         - "4510-4559:4510-4559"
  #       env:
  #         #SERVICES: "sqs,s3"
  #         FORCE_NONINTERACTIVE: 1
  #         AWS_ACCESS_KEY_ID: test
  #         AWS_SECRET_ACCESS_KEY: test
  #       options: >-
  #         --health-cmd "./bin/localstack status services"
  #         --health-interval 10s 
  #         --health-timeout 5s 
  #         --health-retries 5
  #         --health-start-period 15s 
  #       volumes:
  #         - /var/run/docker.sock:/var/run/docker.sock # https://docs.localstack.cloud/references/lambda-provider-v2/#docker-not-available 
  #   steps:
  #     - uses: actions/checkout@master

  #     - name: Setup Terraform
  #       uses: hashicorp/setup-terraform@v1
  #       with:
  #         terraform_version: 1.5.0

  #     - uses: actions/setup-python@v4
  #       with:
  #         python-version: '3.10'

  #     - name: Terraform-local installation
  #       run: pip3 install terraform-local==0.16.1

  #     - name: Install Poetry
  #       run: pip3 install poetry

  #     - name: terraform drop unsupported by localstack
  #       run: |
  #         rm sheduler_group.tf
          
  #     - name: terraform init
  #       run: tflocal init -backend-config=./tests/localstack-backend.tf
        
  #     - name: terraform validate
  #       run: tflocal validate
        
  #     - name: terraform plan
  #       run: tflocal plan -var-file=./tests/localstack.tfvars -out=plan.tfplan

  #     - name: terraform apply
  #       run: tflocal apply -auto-approve plan.tfplan
