name: Build and Push Docker Images

on:
  release:
    types: [published]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-region: eu-central-1
    
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Get tag name
        id: get_tag
        run: echo "GIT_TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
    
      - name: Build and push requester image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: src/docker/Dockerfile.requester
          push: true
          tags: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-central-1.amazonaws.com/aws-sso-elevator:requester-${{ env.GIT_TAG }}
          provenance: false

      - name: Build and push revoker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: src/docker/Dockerfile.revoker
          push: true
          tags: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-central-1.amazonaws.com/aws-sso-elevator:revoker-${{ env.GIT_TAG }}
          provenance: false
